*{
  
    text-decoration: none;
}

.logo{
    background-image: url(logo.png.png);
    height: 70px;
    width: 100px;
    background-size: 100px;
    
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

nav ul li a{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25em;
    color: #e2e8e8;
    margin-left: 8px;
}
nav ul li.active a{
    color: rgba(218, 165, 32, 1);
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}
nav ul li.button{
    border: 1px solid rgba(62, 63, 67, 1);
    border-radius: 8px;
    padding: 9px 36px;
    text-transform: uppercase;
}

body{
   
    
        background-repeat: no-repeat;
        background-size: 100%;
      
}